/* General styles  */

body {
  background-color: white;
}

/* Title  */
.centered-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 2%;
  padding-bottom: 2%;
}

/* Logos */
.bouncy-img {
  width: 5%;
  height: 5%;
}

.bouncy-img:hover {
  animation: bounce 1s;
}

@keyframes bounce {
  0%,
  20%,
  60%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}
